<%- include("../partials/head") %> <%- include("../partials/nav") %> 
<h1><%= title%> 
</h1>
<% for(let book of allBooks){ %>
<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">Book title:<%=book.title %>:</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"> Author name:
      <%=book.author.first_name %> <%=book.author.family_name %>
    </h6>
  </div>
</div>

<% } %> <%- include("../partials/foot") %>
