<%- include("../partials/head") %><%- include("../partials/nav") %> 

<form action="http://localhost:3000/catalog/genre/<%=genreDetail._id%>/update" method = "POST">
    <textarea name="name" id="name"><%= genreDetail.name%></textarea>
    <button>Edit</button>     
</form>

%><%- include("../partials/foot") %>
