<%- include("../partials/head") %><%- include("../partials/nav") %> <% for(let
genre of allGenre){ %>

<div class="card mt-2" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title"><%= genre.name%></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">
      <a href="http://localhost:3000/catalog/genre/<%=genre._id%>">Details</a>
    </h6>
   
  </div>
</div>
<% } %> %><%- include("../partials/foot") %>
