<%- include("../partials/head")  %><%- include("../partials/nav") %>



  <div class="card mt-4" style="width: 18rem;">
    <div class="card-body">
      <p class="card-text"><%= genreDetail.name %> :</p>
      <p class="card-text"><%= genreDetail._id%></p>
    </div>
  </div>
  
  <a href="http://localhost:3000/catalog/genre/<%=genreDetail._id%>/update"> Edit</a>
  <form action="" method = "POST">
    <button>Delete</button></form>
    <%- include("../partials/foot") %>
